<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(function(){
    $('header').load('base.html')
  })
</script>
</head>
<body>
  <div class="container">
    <header>
      <div id="header"></div>
    </header>
  </div>
  <h3 class="text-center">About us</h3>
  <p class="lead  text-center center-block ">
    We are a team of Defi enthusiast software engineers who work for Gooogle.</p>
</body>
</html>