doctype html
html(lang='en')
  head
    title PubSub
    script(src='/socket.io/socket.io.js')
    script(src='socket.js')
    script.console.log('hello world')
    socket.connect('http://localhost:8080/')

    meta(charset='utf-8')
  body
    
    p Messages received by this instance:
    ul
      each val in messages
        li= val
    p
      small.
        Note: because your application is likely running multiple instances,
        each instance will have a different list of messages.


