<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
  $(function(){
    $('header').load('base.html')
  })
</script>
</head>
<body>
  <div class="container">
    <header>
      <div id="header"></div>
    </header>
  </div>
  <h3 class="text-center">Overview</h3>

  <p class="lead  text-center center-block ">
    Solana enables dapps to do more on-chain than ever before.
     For example: the Serum DEX hosts and executes all its trades directly on-chain. 
     This means all market trade details are publicly open. 
     We have the opportunity to gain deep insight on how these markets work.</p>
</body>
</html>